name: Comment on PR

on:
  pull_request_target:
    types: [opened]

jobs:
  comment:
    runs-on: ubuntu-latest

    steps:
    - name: Leave a comment
      uses: actions/github-script@v4
      with:
        github-token: ${{secrets.PERSONAL_ACCESS_TOKEN}}
        script: |
          github.issues.createComment({
            issue_number: context.issue.number,
            owner: context.repo.owner,
            repo: context.repo.repo,
            body: 'Thanks a lot for your pull request! We will review it as soon as possible.'
          })
